.tk{ background:url("tk.png") top left no-repeat; }
.在线课程子页_r4_c3{ width:568px; height:327px; background-position:-10px -10px; }
.在线课程子页_r2_c6{ width:50px; height:55px; background-position:-10px -347px; }
.在线课程子页_r8_c15{ width:48px; height:42px; background-position:-70px -347px; }
.在线课程子页_r3_c4{ width:60px; height:41px; background-position:-128px -347px; }
.在线课程子页_r5_c2{ width:16px; height:41px; background-position:-198px -347px; }
.在线课程子页_r12_c9{ width:29px; height:32px; background-position:-224px -347px; }
.在线课程子页_r9_c11{ width:26px; height:27px; background-position:-263px -347px; }
.在线课程子页_r6_c10{ width:28px; height:27px; background-position:-299px -347px; }

